body{
  background: $bodycolor;
}
h1{
  font-family: m_Ben Krush, sans-serif;
  color: #1dc6ea;
  text-align: center;
  font-size: 90px;
  padding: 10px 0;
  text-shadow: -3px 3px 1px #334848;

}
.logo{
  background: url('../assets/images/mylogo.svg');
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 0 auto;

}
.img{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 20%;
  img{
    width: 100%;
  }
}